body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 92px 50px;
}

.header__menu {
  justify-self: flex-start;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  font-size: 18px;
  line-height: 24.3px; /* 135% */
  text-underline-position: under;
}

.header__link {
  font-size: 18px;
}

.header__link_active a {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24.3px; /* 135% */
  text-underline-position: under;
  max-width: 240px;
  justify-self: end;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 160px;
  padding-bottom: 56px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.cover__text {
  display: block;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.aligned-text_left {
  text-align: left;
  line-height: 100%;
  padding-left: 50px;
}

.aligned-text_center {
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
  padding-right: 20px;
}

.letter-spacing-30px {
  letter-spacing: 30px;
}

.letter-spacing-60px {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  color: black;
  gap: 78px;
  padding-right: 50px;
  margin-top: 135px;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}
.bet-button {
  width: 257px;
  height: 52px;
  color: #fff;
  background-color: transparent;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid #fff;
}

.lots {
  margin: auto 50px;
  position: relative;
  z-index: 2;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 180px auto 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-size: cover;
  padding: 50px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-underline-position: under;
  text-transform: uppercase;

  position: relative;
  z-index: 2;
}

.card__text {
  color: #fff;
  font-size: 20px;
  line-height: 120%; /* 24px */
  position: relative;
  z-index: 2;
  display: block;
}

.lots__look-more-link {
  display: block;
  color: #000;
  font-size: 20px;
  margin: 30px auto auto 40px;
  text-underline-position: under;
  max-width: fit-content;
}

.about {
  display: grid;
  grid-template-columns: 430px 2fr;
  margin: 181px 50px auto 50px;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
}

.logo_align-center {
  justify-self: center;
  align-self: flex-start;
}

.about__logo-image {
  justify-self: center;
  align-self: center;
}

.about__title {
  margin: 100px auto 100px 0px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 25px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 180px 50px 90px 50px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  list-style: none;
}

.footer__links-list-item {
  font-size: 18px;
  text-underline-position: under;
}

.footer__link_active a {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  list-style: none;
}
