
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;   
    margin: 92px 50px;
}

.header__menu {
    justify-self:flex-start;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    text-underline-position: under;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

 .header__link_active a {
     text-decoration: none; 
 }

 .header__link_active {
    list-style: none;
}


.contacts {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    text-underline-position: under;
    width: 240px;
    justify-self: end;
}

.header__address {
    white-space: normal;
}

.cover {
    min-width: 1440px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    z-index: -2;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0, 0.6);
    color: #FFF;
    z-index: -1;
    
}

.cover__title {
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 115px */
    letter-spacing: 30px;
    word-spacing: -25px;
    text-transform: uppercase;
    padding-top: 160px;
    padding-left: 50px;
}

.cover__text {
    display: block;
}

.text-center {
    text-align: center;
    padding-right: 75px;
}

.text-right {
    text-align: right;
    padding-right: 25px;
}

.cover__description {
    display: flex;
    justify-content: end;
    align-items: center;
    color: black;
    gap: 78px;
    padding-right: 50px;
    margin-top: 120px;
  
}

.cover__description-text {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    text-transform: uppercase;
    word-spacing: 10px;
}
.bet-button {
    width: 257px;
    height: 52px;
    color:#FFF;
    background-color: transparent;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #FFF;
}

.lots{
    margin-left: 50px;
    margin-right: 50px;
   
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 180px auto 27px 40px;

}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
    list-style: none;
   
}

.lots__card-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px;
    width: 430px;
    position: relative;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    z-index: -1;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    z-index: -1;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    z-index: -1;
}

.card__title {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-underline-position: under;
    text-transform: uppercase;
    margin: 50px 40px auto 40px;
}

.card__text {
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%; /* 24px */
    margin: auto 40px 50px 40px;
}

.lots__look-more-link {
    display: block;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin: 30px auto auto 40px;
    text-underline-position: under;
}

.about {
    display: grid;
    grid-template-columns: 430px 2fr;
    margin: 181px 50px auto 50px;
    gap: 25px;
  } 


  .about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: start;
    align-items: start;
    justify-self: start;
    align-self: flex-start;
  }

  .centerme {
    justify-self: center;
    align-self: flex-start;
  }

  .about__logo-image {
    justify-self: center;
    align-self: center;
  }

  .about__title {
    margin: 100px auto 100px 0px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .about__text {
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 180px 50px 90px 50px;
  }

  .footer__menu {
   
   

  }

  .footer__links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    list-style: none;
  }

  .footer__links-list-item {
    font-size: 18px;
    font-weight: 400;
    text-underline-position: under;
  }

  .footer__link_active a {
    text-decoration: none; 
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
    height: 48px;
    list-style: none;
}

.footer__social-icon {
    height: 100%;
}